<%- include('../partials/header') %>

<p>A page to display all articles that have been created and marked as public</p>

<div class="collection-container">
    <% articles.forEach((article) => { %>
        <div class="article-container">
            <h3><%= article.title %></h3>
            <p><%- article.content.replaceAll('\n', '<br>') %></p>
            <p>Shared? <%= article.public %></p>
            <a href="/articles/<%= article._id %>">See Details</a>
        </div>
    <% }) %>
</div>


<a href="/articles/new">Add an Article</a>

<%- include('../partials/footer') %>
