<%- include('../partials/header') %>

<p>Show the article details</p>
<div class="collection-container">
    <div class="article-container">
        <h3><%= article.title %></h3>
        <p>Source: <%= article.source %></p>
        <p>Category: <%= article.category %></p>
        <p>Added by: <%= article.userName %></p>
        <p><%- article.content.replaceAll('\n', '<br>') %></p>
        <a href="/articles/<%= article._id %>/edit">Edit Article</a>
        <form action="/articles/<%= article._id %>?_method=DELETE" method="POST"><button type="submit">Delete Article</button></form>
    </div>
</div>


<%- include('../partials/footer') %>
