<%- include('../partials/header') %>

<p>Show the article details</p>

<p><%= article.title %></p>
<p>Source: <%= article.source %></p>
<p>Category: <%= article.category %></p>
<p>Added by: <%= article.userName %></p>
<p><%= article.content %></p>

<%- include('../partials/footer') %>
